body {
  padding: 0px;
  margin: 0px;
}

.videos {
  text-align: center;
}

canvas {
  background-color: #ccc;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}

.stream {
  padding: 5px;
}

.image-stream,
video {
  width: 100%;
  max-width: 320px;
}


